body {
    display: flex;;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #1F2937;
    
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;

}

ul {
display: flex;
justify-content: space-between;
gap: 16px;

}

li {
 list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.middle-information {
    padding: 10px;
  }
  
  
  .image-placeholder {
      display: flex;
      align-items: center;
      margin-right: 200px;
  }
  
  h2 {
    display: flex;
    justify-content: center;
  }
  .boxes {
   display: flex;
   justify-content: center;
   gap: 100px;
  
   
  }
  
  .boxcont {
    width: 150px;
    flex-wrap: nowrap;
  }
  
  .box {
    display: flex;
    border-style: ridge;
    border-radius: 15px;
    border-color: #2882F6;
    padding: 60px;
  }

  .bottom-information {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .quote {
    width: 500px;
    flex-wrap: nowrap;
  }
  
  .footerinf {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-information {
    display: flex;
    justify-content: space-between;
    background-color: #3992F6;
    color: white;
    font: roboto;
    padding: 30px;
    margin: 20px;
    gap: 150px;
    border-radius: 5px;
  }
  
  .footer-text {
    margin: 10px;
    font: roboto;
  }
  
  .footer-button {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    background-color:#1F2937;
    padding: 50px;
  }
  